::placeholder {
    font-family: "Iran Sans";
}
.active-text { 
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: #ffefa6;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    border: 1px solid #f6d233;
}

.portfolio-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-btn {
    border-radius: 0.3rem;
    padding-left: 50px !important;
    padding-right: 50px !important;
}