<section id="hero" class="container">
    <div class="hero__content">
        <h2 class="hero__content--title">آماده برای فردا</h2>
        <p class="hero__content--text">
            مگا کدرز امروزی برای مشکلات قدیمی دریافت، انتقال و مدیریت پول است. با
            ابزارهایی مانند درگاه پرداخت اینترنتی ، فرم پرداخت و دریافت خودکار حق
            اشتراک که به دقت برای نیازهای شما ساخته شده‌اند.
        </p>
        <div class="hero__content--buttons">
            <a href="#" class="btn btn-primary">شروع کنید</a>
            <a href="#" class="btn btn-secondary">ابزار‌ها و امکانات</a>
        </div>
    </div>
    <div class="hero__illustration">
        <div class="hero__illustration-image"></div>
    </div>
</section>