<section id="hero" class="container">
    <div class="hero__content">
        <h2 class="hero__content--title">آماده برای فردا</h2>
        <p class="hero__content--text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است.
        </p>
        <div class="hero__content--buttons">
            <a href="{% url 'core:order' %}" class="btn btn-primary">سفارش پروژه</a>
            <a href="{% url 'core:portfolio' %}" class="btn btn-secondary">نمونه کار ها</a>
        </div>
    </div>
    <div class="hero__illustration">
        <div class="hero__illustration-image"></div>
    </div>
</section>