{% load static %}
<section id="portfolio" class="container">
    <header class="portfolio-header">
        <h2>نمونه کارها</h2>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
    </header>
    <div class="portfolio-wrapper">
        {% for worksample in worksamples %}
        <div class="portfolio">
            <img src="{{ worksample.cover.urls }}" alt="" />
            <a href="{{ worksample.github }}">
                <h3>{{ worksample.title }}</h3>
                <p>{{ worksample.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>