{% load static %}
<section id="services">
    <div class="container">
        <header class="service-header">
            <h2>خدمات ما</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
        </header>
        <div class="service-wrapper">
            <div class="service">
                <img src="{% static 'images/icons/web-design.svg' %}" alt="Web Design" />
                <h3>طراحی رابط‌کاربری</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است
                </p>
            </div>
            <div class="service">
                <img src="{% static 'images/icons/web-development.svg' %}" alt="Web Development" />
                <h3>توسعه و برنامه نویسی</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است
                </p>
            </div>
            <div class="service">
                <img src="{% static 'images/icons/desktop-app.svg' %}" alt="Desktop App" />
                <h3>اپلیکیشن‌های دسکتاپ</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است
                </p>
            </div>
            <div class="service">
                <img src="{% static 'images/icons/mobile-app.svg' %}" alt="Mobile App" />
                <h3>اپلیکیشن‌های موبایل</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                    استفاده از طراحان گرافیک است
                </p>
            </div>
        </div>
    </div>
</section>