{% load static %}
<section id="steps" class="container">
    <article class="step">
        <div class="step__image">
            <img src="{% static 'images/illustrations/branding.svg' %}" alt="Branding" />
        </div>
        <div class="step__content">
            <span>01</span>
            <h2>استراتژی برندینگ</h2>
            <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است.
            </p>
            <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
    </article>
    <article class="step">
        <div class="step__image">
            <img src="{% static 'images/illustrations/design.svg' %}" alt="Design" />
        </div>
        <div class="step__content">
            <span>02</span>
            <h2>طراحی رابط کاربری</h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است.
            </p>
            <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
    </article>
    <article class="step">
        <div class="step__image">
            <img src="{% static 'images/illustrations/programming.svg' %}" alt="Programming" />
        </div>
        <div class="step__content">
            <span>03</span>
            <h2>برنامه نویسی و توسعه</h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است.
            </p>
            <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
    </article>
    <article class="step">
        <div class="step__image">
            <img src="{% static 'images/illustrations/seo.svg' %}" alt="SEO" />
        </div>
        <div class="step__content">
            <span>04</span>
            <h2>بهینه‌سازی برای موتور‌های جستجو</h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
                ستون و سطرآنچنان که لازم است.
            </p>
            <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
    </article>
</section>