{% load static %}
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">

<head>
    <title>ورود - مگاکدرز</title>
    <!-- Meta Tags -->
    <meta name="description"
        content="تیم طراحی سایت مگاکدرز آماده خدمت به تمامی مشتریان عزیز است! خدمات ما: طراحی سایت، توسعه سایت و گرافیک | برنامه های تحت ویندوز | اپلیکیشن موبایل و ..." />
    <meta name="keywords" content="طراحی سایت، توسعه سایت، گرافیک، برنامه های تحت ویندوز، اپلیکیشن موبایل" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <!-- Links -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/css/backend.css' %}" />
</head>

<body>

    {% include 'inc/messages.html' %}

    {% block content %}

    {% endblock content %}

    <!-- Scripts -->
    <script src="{% static 'scripts/main.js' %}"></script>
</body>

</html>