{% extends 'accounts/base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block content %}
<div class="login-bg">
	<div class="login-wrapper">
		<section class="login-card">
			<header class="login-header">
				<h1>ورود به مگاکدرز</h1>
				<p>
					عضو نیستید؟
					<a href="{% url 'accounts:register' %}">همین حالا عضو شو!</a>
				</p>
			</header>
			<form method="POST" id="login-form" novalidate> {% csrf_token %}
				<div id="email-control" class="form-control">
					<label for="email">ایمیل</label>
						{{form.username|attr:"type:email"|attr:"id:email"|attr:"placeholder:name@example.com"|attr:"data-error:لطفا ایمیل خود را وارد کنید"}}
				</div>
				<div id="password-control" class="form-control">
					<label for="password">کلمه عبور</label>
					<div style="position: relative">
							{{form.password|attr:"type:password"|attr:"id:password"|attr:"placeholder:••••••••"|attr:"data-error:لطفا کلمه عبور را وارد کنید"}}
						<button type="button" class="password-icon">
							<svg class="eye-off" fill="none" stroke="currentColor" viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21">
								</path>
							</svg>
						</button>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-primary">
					ورود
				</button>
			</form>
			<div class="divider">یا</div>
			<footer>
				<a href="#" id="login-google" class="btn btn-block btn-google">
					ورود با گوگل
					<span class="google-icon"></span>
				</a>
			</footer>
		</section>
	</div>
</div>
{% endblock content %}