{% extends 'base.html' %} {% load static %} {% block content %}

<main class="container about">
	<!--creation story-->
	<div class="row">
		<section class="col-12 about-creation-story">
			<h1 class="w-100 about-creation-story__title">داستان شکل‌گیری ورکیفای</h1>
			<p class="about-creation-story__content">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
				از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
				سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
				متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
				درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
				نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
				خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
				داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
				رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
				پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
			</p>
		</section>
	</div>
	<!--creation story end-->
	<!--our purpose-->
	<div class="row mt-5">
		<section class="col-12 about-our-purpose">
			<h1 class="w-100 about-our-purpose__title">هدف ما در ورکیفای</h1>
			<p class="about-our-purpose__content">
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
				از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
				سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
				متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
				درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
				نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
				خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
				داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
				رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
				پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
			</p>
		</section>
	</div>
	<!--our purpose end-->
	<!--services-->
	<div class="row mt-5">
		<section class="col-12 about-services">
			<h2 class="about-services__title">فعالیت های ورکیفای</h2>
			<!--online teaching-->
			<div class="row mt-5 align-items-center">
				<div class="col-md-2">
					<figure>
						<img
							class="w-25"
							src="{% static 'images/online-learning.png' %}"
							alt="lorem"
						/>
					</figure>
				</div>
				<div class="col-md-10">
					<h1>آموزش آنلاین</h1>
					<p>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
						استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
						ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
						و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
						زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
						متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
						رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
						کرد، در این صورت می توان امید داشت
					</p>
				</div>
			</div>
			<!--online teaching end-->
			<!--online teaching-->
			<div class="row mt-5 align-items-center">
				<div class="col-md-2">
					<figure>
						<img
							class="w-25"
							src="{% static 'images/discuss.png' %}"
							alt="lorem"
						/>
					</figure>
				</div>
				<div class="col-md-10">
					<h1>آموزش آنلاین</h1>
					<p>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
						استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
						ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
						و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
						زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
						متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
						رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
						کرد، در این صورت می توان امید داشت
					</p>
				</div>
			</div>
			<!--online teaching end-->
			<!--online teaching-->
			<div class="row mt-5 align-items-center">
				<div class="col-md-2">
					<figure>
						<img
							class="w-25"
							src="{% static 'images/articles.png' %}"
							alt="lorem"
						/>
					</figure>
				</div>
				<div class="col-md-10">
					<h1>آموزش آنلاین</h1>
					<p>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
						استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
						ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
						و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
						زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
						متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
						رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد
						کرد، در این صورت می توان امید داشت
					</p>
				</div>
			</div>
			<!--online teaching end-->
		</section>
	</div>
	<!--services end-->
	<section class="mt-5">
		<h1>با تیم ورکیفای آشنا شوید</h1>
		<div class="team-wrapper mt-4">
			{% for member in members %}
			<div class="employee">
				<div class="employee-image">
					<img src="{{ member.image.url }}" alt="" />
					<div class="employee-links">
						<a href="#" class="social__github">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M12.026,2c-5.509,0-9.974,4.465-9.974,9.974c0,4.406,2.857,8.145,6.821,9.465 c0.499,0.09,0.679-0.217,0.679-0.481c0-0.237-0.008-0.865-0.011-1.696c-2.775,0.602-3.361-1.338-3.361-1.338 c-0.452-1.152-1.107-1.459-1.107-1.459c-0.905-0.619,0.069-0.605,0.069-0.605c1.002,0.07,1.527,1.028,1.527,1.028 c0.89,1.524,2.336,1.084,2.902,0.829c0.091-0.645,0.351-1.085,0.635-1.334c-2.214-0.251-4.542-1.107-4.542-4.93 c0-1.087,0.389-1.979,1.024-2.675c-0.101-0.253-0.446-1.268,0.099-2.64c0,0,0.837-0.269,2.742,1.021 c0.798-0.221,1.649-0.332,2.496-0.336c0.849,0.004,1.701,0.115,2.496,0.336c1.906-1.291,2.742-1.021,2.742-1.021 c0.545,1.372,0.203,2.387,0.099,2.64c0.64,0.696,1.024,1.587,1.024,2.675c0,3.833-2.33,4.675-4.552,4.922 c0.355,0.308,0.675,0.916,0.675,1.846c0,1.334-0.012,2.41-0.012,2.737c0,0.267,0.178,0.577,0.687,0.479 C19.146,20.115,22,16.379,22,11.974C22,6.465,17.535,2,12.026,2z"
								></path>
							</svg>
						</a>
						<a href="#" class="social__instagram">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
							>
								<path
									d="M20.947,8.305c-0.011-0.757-0.151-1.508-0.419-2.216c-0.469-1.209-1.424-2.165-2.633-2.633 c-0.699-0.263-1.438-0.404-2.186-0.42C14.747,2.993,14.442,2.981,12,2.981s-2.755,0-3.71,0.055 c-0.747,0.016-1.486,0.157-2.185,0.42C4.896,3.924,3.94,4.88,3.472,6.089C3.209,6.788,3.067,7.527,3.053,8.274 c-0.043,0.963-0.056,1.268-0.056,3.71s0,2.754,0.056,3.71c0.015,0.748,0.156,1.486,0.419,2.187 c0.469,1.208,1.424,2.164,2.634,2.632c0.696,0.272,1.435,0.426,2.185,0.45c0.963,0.043,1.268,0.056,3.71,0.056s2.755,0,3.71-0.056 c0.747-0.015,1.486-0.156,2.186-0.419c1.209-0.469,2.164-1.425,2.633-2.633c0.263-0.7,0.404-1.438,0.419-2.187 c0.043-0.962,0.056-1.267,0.056-3.71C21.003,9.572,21.003,9.262,20.947,8.305z M11.994,16.602c-2.554,0-4.623-2.069-4.623-4.623 s2.069-4.623,4.623-4.623c2.552,0,4.623,2.069,4.623,4.623S14.546,16.602,11.994,16.602z M16.801,8.263 c-0.597,0-1.078-0.482-1.078-1.078s0.481-1.078,1.078-1.078c0.595,0,1.077,0.482,1.077,1.078S17.396,8.263,16.801,8.263z"
								></path>
								<circle cx="11.994" cy="11.979" r="3.003"></circle>
							</svg>
						</a>
					</div>
				</div>
				<p class="employee-name">{{ member.name }}</p>
				<p class="employee-role">{{ member.bio }}</p>
			</div>
			{% endfor %}
		</div>
	</section>
</main>
{% endblock content %}
