{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->

<!-- Navbar end -->

<!-- Hero -->
<section id="hero" class="container">
  <div class="hero__content">
    <h2 class="hero__content--title">آماده برای فردا</h2>
    <p class="hero__content--text">
      مگا کدرز امروزی برای مشکلات قدیمی دریافت، انتقال و مدیریت پول است. با
      ابزارهایی مانند درگاه پرداخت اینترنتی ، فرم پرداخت و دریافت خودکار حق
      اشتراک که به دقت برای نیازهای شما ساخته شده‌اند.
    </p>
    <div class="hero__content--buttons">
      <a href="#" class="btn btn-primary">شروع کنید</a>
      <a href="#" class="btn btn-secondary">ابزار‌ها و امکانات</a>
    </div>
  </div>
  <div class="hero__illustration">
    <div class="hero__illustration-image"></div>
  </div>
</section>
<!-- Hero end -->

<!-- Steps -->
<section id="steps" class="container">
  <article class="step">
    <div class="step__image">
      <img src="{% static 'images/illustrations/branding.svg' %}" alt="Branding" />
    </div>
    <div class="step__content">
      <span>01</span>
      <h2>استراتژی برندینگ</h2>
      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است.
      </p>
      <button type="button" class="btn btn-primary">بیشتر بدانید</button>
    </div>
  </article>
  <article class="step">
    <div class="step__image">
      <img src="{% static 'images/illustrations/design.svg' %}" alt="Design" />
    </div>
    <div class="step__content">
      <span>02</span>
      <h2>طراحی رابط کاربری</h2>
      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است.
      </p>
      <button type="button" class="btn btn-primary">بیشتر بدانید</button>
    </div>
  </article>
  <article class="step">
    <div class="step__image">
      <img src="{% static 'images/illustrations/programming.svg' %}" alt="Programming" />
    </div>
    <div class="step__content">
      <span>03</span>
      <h2>برنامه نویسی و توسعه</h2>
      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است.
      </p>
      <button type="button" class="btn btn-primary">بیشتر بدانید</button>
    </div>
  </article>
  <article class="step">
    <div class="step__image">
      <img src="{% static 'images/illustrations/seo.svg' %}" alt="SEO" />
    </div>
    <div class="step__content">
      <span>04</span>
      <h2>بهینه‌سازی برای موتور‌های جستجو</h2>
      <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
        استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است.
      </p>
      <button type="button" class="btn btn-primary">بیشتر بدانید</button>
    </div>
  </article>
</section>
<!-- Steps end -->

<!-- Services -->
<section id="services">
  <div class="container">
    <header class="service-header">
      <h2>خدمات ما</h2>
      <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
    </header>
    <div class="service-wrapper">
      <div class="service">
        <img src="{% static 'images/icons/web-design.svg' %}" alt="Web Design" />
        <h3>طراحی رابط‌کاربری</h3>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
      <div class="service">
        <img src="{% static 'images/icons/web-development.svg' %}" alt="Web Development" />
        <h3>توسعه و برنامه نویسی</h3>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
      <div class="service">
        <img src="{% static 'images/icons/desktop-app.svg' %}" alt="Desktop App" />
        <h3>اپلیکیشن‌های دسکتاپ</h3>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
      <div class="service">
        <img src="{% static 'images/icons/mobile-app.svg' %}" alt="Mobile App" />
        <h3>اپلیکیشن‌های موبایل</h3>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
          استفاده از طراحان گرافیک است
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Services end -->

<!-- Portfolio -->
<section id="portfolio" class="container">
  <header class="portfolio-header">
    <h2>نمونه کارها</h2>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
  </header>
  <div class="portfolio-wrapper">
    <div class="portfolio">
      <img src="{% static 'images/portfolio/homework-planner.png' %}" alt="" />
      <a href="#">
        <h3>دیجی کالا</h3>
        <p>فروشگاه اینترنتی</p>
      </a>
    </div>
    <div class="portfolio">
      <img src="{% static 'images/portfolio/habit.png' %}" alt="" />
      <a href="#">
        <h3>آپارات</h3>
        <p>سرویس اشتراک ویدیو</p>
      </a>
    </div>
    <div class="portfolio">
      <img src="{% static 'images/portfolio/lifetime.png' %}" alt="" />
      <a href="#">
        <h3>بلاگفا</h3>
        <p>وبلاگ ساز</p>
      </a>
    </div>
    <div class="portfolio">
      <img src="{% static 'images/portfolio/habit.png' %}" alt="" />
      <a href="#">
        <h3>آپارات</h3>
        <p>سرویس اشتراک ویدیو</p>
      </a>
    </div>
    <div class="portfolio">
      <img src="{% static 'images/portfolio/lifetime.png' %}" alt="" />
      <a href="#">
        <h3>بلاگفا</h3>
        <p>وبلاگ ساز</p>
      </a>
    </div>
    <div class="portfolio">
      <img src="{% static '/images/portfolio/homework-planner.png' %}" alt="" />
      <a href="#">
        <h3>دیجی کالا</h3>
        <p>فروشگاه اینترنتی</p>
      </a>
    </div>
  </div>
</section>
<!-- Portfolio end -->

<!-- Footer -->

<!-- Footer end -->

<!-- Scripts -->

{% endblock content %}