{% extends 'base.html' %}
{% load static %}

{% block title %}
صفحه اصلی
{% endblock title %}

{% block content %}

<!-- Hero -->
{% include 'pages/hero.html' %}
<!-- Hero end -->

<!-- Steps -->
{% include 'pages/steps.html' %}
<!-- Steps end -->

<!-- Services -->
{% include 'pages/services.html' %}
<!-- Services end -->

<!-- Portfolio -->
{% include 'pages/portfolio.html' %}
<div class="container portfolio-div">
    <a href="{% url 'core:portfolio' %}" class="btn btn-primary portfolio-btn">مشاهده بیشتر</a>
</div>
<!-- Portfolio end-->

{% endblock content %}