{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<main id="order">
  <!-- Web Design -->
  <div id="web-design" class="container">
    <div class="row web-design__wrapper">
      <div class="col-lg-5">
        <h2 class="my-3">طراحی سایت</h2>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
          در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
          نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
          جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
          طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
          موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
          نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
          دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <div class="web-design__buttons">
          <a href="#" class="btn btn-primary"> مشاوره اختصاصی </a>
          <a href="#" class="btn btn-secondary"> هزینه طراحی سایت </a>
        </div>
      </div>
      <div class="col-lg-5">
        <img src="{% static 'images/illustrations/web-design.svg' %}" alt="Web Design" />
      </div>
    </div>
  </div>
  <!-- Web Design end -->
  <!-- Consulting -->
  <div id="consulting" class="container">
    <div class="row consulting-wrapper">
      <div class="col-lg-5">
        <img src="{% static 'images/illustrations/consulting.svg' %}" alt="Consulting" />
      </div>
      <div class="col-lg-5 consulting-content">
        <h2>مشاوره اختصاصی ویستا</h2>
        <p>
          ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
          در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
          نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
          جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
          طراحان رایانه ای علی الخصوص طراحان خلاقی
        </p>
        <form>
          <div class="form-control">
            <label for="phoneNumber" class="my-2">شماره تماس</label>
            <input id="phoneNumber" type="text" placeholder="لطفا شماره موبایل خود را وارد کنید" />
          </div>
          <button type="submit" class="btn btn-block btn-primary">
            درخواست مشاوره
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- Consulting end -->
  <!-- Importance -->
  <div id="importance" class="container">
    <div class="row importance-content">
      <div class="col-md-10">
        <h2 class="my-3">چرا وب سایت مهم است</h2>
        <p>
          ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
          در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
          نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
          کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان
          جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای
          طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
          فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری
          موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
          نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
          دنیای موجود ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
          چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه
          روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
          تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
          کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،
          شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
          بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ
          پیشرو در
        </p>
        <p>
          زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و
          دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
          زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
          پیوسته اهل دنیای موجود ورم ایپسوم متن ساختگی با تولید سادگی
          نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و
          متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
          شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود
          ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
          و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
          افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
          خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان
          امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت
          تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی،
          و جوابگوی سوالات پیوسته اهل دنیای موجود
        </p>
      </div>
    </div>
  </div>
  <!-- Importance end -->
</main>
<!-- Main Content end -->
{% endblock content %}
