{% extends 'base.html' %}


{% block title %}
خدمات
{% endblock title %}


{% block content %}
<main class="container">
    <section id="steps" style="padding: 2rem 0">
      <article class="step">
        <div class="step__image">
          <img
            src="/images/illustrations/web-development.svg"
            alt="Web Development"
          />
        </div>
        <div class="step__content">
          <span>01</span>
          <h2>طراحی رابط‌کاربری</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است.
          </p>
          <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
      </article>
      <article class="step">
        <div class="step__image">
          <img
            src="/images/illustrations/programming.svg"
            alt="Programming"
          />
        </div>
        <div class="step__content">
          <span>02</span>
          <h2>توسعه و برنامه نویسی</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است.
          </p>
          <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
      </article>
      <article class="step">
        <div class="step__image">
          <img
            src="/images/illustrations/desktop-development.svg"
            alt="Desktop Development"
          />
        </div>
        <div class="step__content">
          <span>03</span>
          <h2>اپلیکیشن‌های دسکتاپ</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است.
          </p>
          <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
      </article>
      <article class="step">
        <div class="step__image">
          <img
            src="/images/illustrations/mobile-development.svg"
            alt="Mobile Development"
          />
        </div>
        <div class="step__content">
          <span>04</span>
          <h2>اپلیکیشن‌های موبایل</h2>
          <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است.
          </p>
          <button type="button" class="btn btn-primary">بیشتر بدانید</button>
        </div>
      </article>
    </section>
  </main>
{% endblock content %}
