<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav col-12">
        <a class="nav-link active" href="{% url 'core:home' %}">Home</a>
        <a class="nav-link active" target="_blank" href="{% url 'core:about_us' %}">About us</a>
        <a class="nav-link active" target="_blank" href="{% url 'core:contact_us' %}">Contact Us</a>
        <a class="nav-link active" target="_blank" href="{% url 'admin:index' %}">panel</a>
        {% if request.user.is_authenticated %}
            <a class="nav-link active" href="{% url 'accounts:profile' %}">Dashboard</a>
            <a class="nav-link active" href="{% url 'accounts:logout' %}">Logout</a>
            <a class="nav-link active ml-auto" href="#">Hi, {{ request.user }}</a>
            <img width=40 height=40 style='border-radius: 20px;' src='{{ request.user.avatar.url }}'>
        {% else %}
            <a class="nav-link active" href="{% url 'accounts:login' %}">login</a>
            <a class="nav-link active" href="{% url 'accounts:register' %}">register</a>
        {% endif %}
    </div>
</nav>